chromadb>=0.4.24
torch
transformers
sentence-transformers
groq>=0.3.0
python-dotenv>=1.0.0
openai-whisper
moviepy
langchain-huggingface
langchain
langchain-groq
fastapi
pydantic
streamlit
requests
uvicorn
whisper
sseclient
httpx
pyngrok